.vscode
.DS_Store
*.class
Command
Java:
*.xml
*.lst
target/surefire-reports/AdminTest.txt
target/surefire-reports/BookingServiceTest.txt
target/surefire-reports/BuyerTest.txt
target/surefire-reports/ShowTest.txt
